@charset "UTF-8";

@font-face{
    font-family: 'third';
    src: url('Third Rail - Demo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root{
    --cor01: #FDE100;
    --cor02: #F2CB05;
    --cor03: #A68B03;
    --cor04: #594B02;
    --cor05: #0D0D0D;
    --font-titulo: 'third' , cursive;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
   font-family: Arial, Helvetica, sans-serif;
   background-color: var(--cor05); 
}
header{
    color: var(--cor01);
    height: 200px;
}
header h1{
    font-family: 'third';
    font-size: 5em;
    text-align: center;
    margin: auto;
    padding-top: 80px;
    width: 700px;
}
img.logo{
    position: fixed;
    top: 0px;
}
section{
    text-align: justify;
    background-color: white;
    width: 700px;
    padding: 1px 10px;
    margin: auto;
    border-radius: 10px;
}
footer{
    background-color: #F5E066;
    margin: auto;
    width: 700px;
    padding: 1px 10px;
    border-radius: 10px;
}
